html, body {
  position: relative;
  min-height: 100%;
  height: 100%;
  background-color: $primary-color;
  //font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}

body {
  text-rendering: optimizeLegibility;
}

footer {
  margin-top: 75px;
}

label {
  color: $black !important;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

p {
  color: $black;
}

div {
  color: $black;
}

#head {
  z-index: 1000;
}

#page-footer {
  background-color: #212121 !important;
}

#cardText {
  height: 265px !important;
}
#cardTextPost {
  height: 150px !important;
}

.landing-container {
  margin-left: 2em;
  margin-right: 2em;
}

.justify {
  text-align: justify;
}

.sidenav-overlay {
  z-index: 2 !important;
}

.footer-copyright {
  background-color: #191919 !important;
}

.primary {
  background-color: $primary-color;
  color: $black;
}

.primary-text {
  color: $primary-color;
}

.col.s12 > .btn {
  width: 100%;
}

.no-uppercase {
  text-transform: none !important;
}

.pointer {
  cursor: pointer;
}

.bold {
  font-weight: bold;
}

.underline {
  text-decoration: underline;
}

.logo-header {
  background: rgba(255, 255, 255, 0);
  max-width: 140px;
  margin-top: 10px;
  margin-left: 25px;
}

.card-height {
  min-height: 288px !important;
}

.height-adjust {
  height: 39.86em;
}

.border-10 {
  border-radius: 10px;
}

.nav-color {
  background: rgba(255, 255, 255, 1) !important;
}

.white-text {
  color:  rgba(255, 255, 255, 1) !important;
}

.icon-login {
  width: 15vh;
  height: 15vh;
  margin-right: 1px;
  margin-left: 40px;
}

.icon-login-footer {
  width: 15vh;
  height: 15vh;
  margin-top: 25px;
  margin-left: 55px;
  opacity: 0.4;
}

.icon {
  width: 15vh;
  height: 15vh;
}

.in-the-middle {
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
}

.no-shadows {
    box-shadow: none !important;
}

.transp-0 {
  background: rgba(255, 255, 255, 0) !important;
}

.transp-6 {
  background: rgba(255, 255, 255, 0.6) !important;
}

.image-philosopy {
  background-position-y: '-369px' !important;
}

@media screen and (min-width: 992px) {
  .image-philosopy {
    background-position-y: '0px' !important;
  }
}

@media screen and (max-width: 1200px) {
  .margin-top-5vh {
    margin-top: 0vh;
  }
  .margin-top-9vh {
    margin-top: 1vh;
  }
  #no-responsive {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  #responsive {
    display: none;
  }
}


@media screen and (max-width: 992px) {
  .logo-header {
    margin-left: 0px;
  }
}

@media screen and (min-width: 992px) {
  #menu {
    display: none;
  }
  .sidenav-overlay {
    display: none !important;
  }
}



/* .input-field input[type=text]:focus + label {
  color: $secondary !important;
}

.input-field input[type=password]:focus + label {
  color: $secondary !important;
}

.input-field input[type=text]:focus {
  border-bottom: 1px solid  $secondary !important;
  box-shadow: 0 1px 0 0  $secondary !important;
}

.input-field input[type=password]:focus {
  border-bottom: 1px solid  $secondary !important;
  box-shadow: 0 1px 0 0  $secondary !important;
}

.input-field input[type=password]:focus {
  border-bottom: 1px solid  $secondary !important;
  box-shadow: 0 1px 0 0  $secondary !important;
} */
