.content-element {
  height: 708px;
  margin-left: -11px;
  margin-right: -11px
}

.map-element {
  height: 100%;
}

@media screen and (max-width: 992px) {
  .content-element {
    height: 200px;
  }
}
