$grey_ligth: #e8e8e8;
$black: rgb(25, 25, 25);

$secondary: rgb(59, 201, 130);

$primary-color: rgb(62, 136, 217) !important;
$primary-color-light: false !important;
$primary-color-dark: false !important;

$secondary-color: color("blue", "lighten-1") !default;
