.no-padding-x {
  padding-left: 0px;
  padding-right: 0px;
}
.padding-y-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.padding-top-0 {
  padding-top: 0px !important;
}
.padding-top-3vh {
  padding-top: 3vh;
}

.padding-top-15 {
  padding-top: 15px;
}

.padding-top-20 {
  padding-top: 20px;
}

.padding-left-50 {
  padding-left: 50px;
}


.padding-top-145 {
  padding-top: 145px;
}

.padding-top-60 {
  padding-top: 60px;
}

.padding-right-30 {
  padding-right: 30px !important;
}

.padding-bottom-30 {
  padding-bottom: 30px;
}

.padding-left-5vh {
  padding-left: 5vh !important;
}

.padding-left-9vh {
  padding-left: 9vh !important;
}

.padding-left-30{
  padding-left: 30px !important;
}

.padding-left-30 {
  padding-left: 30px !important;
}

.padding-300-custom {
  padding-left: 300px;
  padding-right: 300px;
}

@media screen and (max-width: 1265px) {
  .padding-300-custom {
    padding-left: 200px;
    padding-right: 200px;
  }
}

@media screen and (max-width: 820px) {
  .padding-300-custom {
    padding-left: 100px;
    padding-right: 100px;
  }
}

@media screen and (max-width: 530px) {
  .padding-300-custom {
    padding-left: 0px;
    padding-right: 0px;
  }
}
