.image-header {
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
}

.image-changePass {
  background-image: url(/images/password.jpg);
}

.image-about-us {
  background-image: url(/images/building.jpg);
}

.image-blog {
  background-image: url(/images/blog.jpg);
}

.image-conditions {
  background-image: url(/images/conditions2.jpg);
}

.image-contact {
  background-image: url(/images/building.jpg);
}

.image-404 {
  background-image: url(/images/404.jpg);
}

.image-philosophy {
  background-image: url(/images/phylosopy.jpg);
}

.image-resend {
  background-image: url(/images/resend.jpg);
}

.image-request {
  background-image: url(/images/mail.jpg);
}

.image-services {
  background-image: url(/images/building.jpg);
}
