#login {
  .modal {
    width: 503px !important;
    height: 465px !important;
  }
}

#request, #remember {
  .modal {
    width: 600px !important;
    height: 360px !important;
  }
}

#success-request {
  .modal {
    width: 950px !important;
    height: 320px !important;
  }
}

#resend-pass {
  .modal {
    width: 572px !important;
    height: 260px !important;
  }
}


@media screen and (max-width: 668px) {
  #login, #request, #success-request, #resend-pass, #remember, #client-access {
    .modal {
      width: 100% !important;
      height: 100% !important;
      max-height: 100% !important;
      top: 0% !important;
    }
  }
}

.container-body {
  overflow-x: hidden;
  .body-login {
     margin-top: 30px;
     padding: 10px;
     .request-access {
       margin-top: 10px;
       padding-top: 10px;
       border-top: solid 0.5px grey;
     }
  }
}

.container-login {
  padding-left: 50px !important;
  border-left: 1px solid black;
  padding-right: 40px !important;
}

.container-request {
  padding-left: 30px !important;
  padding-right: 70px !important;
}

@media screen and (max-width: 1200px) {
  #conditions {
    .modal {
      width: 100% !important;
      height: 100% !important;
      max-height: 100% !important;
      top: 0% !important;
    }
  }

  #client-access {
    .modal {
      width: 100% !important;
      height: 100% !important;
      max-height: 100% !important;
      top: 0% !important;
    }
    .container-login {
      padding-left: 0px !important;
      border-left: 0px ;
      padding-right: 0px !important;
    }

    .container-request {
      padding-left: 0px !important;
      padding-right: 0px !important;
      margin-bottom: 30px;
      padding-bottom: 55px;
      border-bottom: 1px solid black;
    }
  }
}
